# Compiled Object files
*.o
*.dwo

# Precompiled Headers
*.gch
*.pch
ipch

# Compiled Static libraries
*.a
*.lib

# Executables
webrtc-streamer
lib/libwebsockets/

# Configuration
etc/app_channel.conf
etc/webrtc-streamer.conf

# Tempoary backup
backup
src/OLD
imv_examples
src/.vscode
.ccls-cache
